{% extends "base.html" %}

{% block content %}
      <h1>Home</h1>

      {{user.f_name}} {{user.l_name}}
        {%for item in user.exam_list%}
	<table border="1">
        <tr>
          <th colspan="4"> Exam Number </th>
        </tr>
        <tr>
          <th>Module Name</th>
          <th>{{item.module_name[0]}}</th>
          <th>Module Code</th>
          <th>{{item.module_code}}</th>
        </tr>
        <tr>
          <th>Day</th>
          <th>{{item.exam_day[0]}}</th>
          <th>Date</th>
          <th>{{item.exam_date[0]}}</th>
        </tr>
        <tr>
          <th>Time</th>
          <th>{{item.time[0]}}</th>
          <th>Duration</th>
          <th>{{item.duration}}</th>
        </tr>
        <tr>
          <th>Venue</th>
          <th> {{item.venue}}</th>
          <th>Seat Number</th>
          <th> Need to alter </th>
        </tr>
        <tr>
          <th>Exam Percentage</th>
          <th>{{item.percent}}</th>
          <th>Lecturer notes</th>
          <th>{{item.lecturer_notes[0]}}</th>
        </tr>
      </table>

	{%endfor%}
	<form action = "http://127.0.0.1:5000/admin_updates" method = "post">
	<label for="actions">Choose an action:</label>
	  <select id="actions" name="actions">
	    <option value="CREATE">Create new entry in a table</option>
	    <option value="DELETE">Delete an entry from a table</option>
	    <option value="UPDATE" selected>Update an entry in a table</option>
	  </select>

	 <label for="tables">Choose a table or type your own:</label>
          <select id="tables" name="tables" onchange="showfield(this.options[this.selectedIndex].value)">
        
		{% for table in table_names %}
			<option value={{table}}>{{table}}</option>
		{% endfor %}
		<option value="Other">Other</option>
	  </select>
	  <div id="div1"></div>


	 <div id="attributes_label"></div>
	 <div id="div2"></div>

<div id="key_label"></div>
<div id="div3"></div>
<div id="key_value_label"></div>
<div id="key_value"></div>
<div id="second_key_label"></div>
<div id="second_key"></div>
<div id="second_key_value_label"></div>
<div id="second_key_value"></div>


<label for="updated info">New Value</label><br>
		<input id="updated_info" type = "text" name = "updated_info" />
		<br>
                <input type = "submit" value = "submit" />
              </form>


<div>
        <form action = "http://127.0.0.1:5000/mail" method = "post">
	<label for="exam_id">Enter exam id to send update email:</label>
        <input type="text" name="exam_id" id="exam_id" />
        <br>
        <input type = "submit" value = "submit" />
	</form>

</div>

	      <script type="text/javascript">
		function showfield(name){
			var attributes = '{{attrinbutes}}';
			var a = attributes[name];
			document.getElementById('attributes_label').innerHTML='<label for="attributes">Choose a attribute to update</label>';
			document.getElementById('key_label').innerHTML='<label for="update key">Update Key</label>';
			document.getElementById('key_value_label').innerHTML='<label for="key_value_label">Value of key</label>';
			document.getElementById('key_value').innerHTML='<input type="text" name="key_value" id="key_value" />';
			if(name=='Other'){
				document.getElementById('div1').innerHTML='Other: <input type="text" name="other" />';
				document.getElementById('div2').innerHTML='Other: <input type="text" name="other" />';
			}else if(name=='exam'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="exam_id">exam_id</option><option value="module_code">module_code</option><option value="duration">duration</option><option value="venue">venue</option><option value="percent">percent</option><option value="start_date">start_date</option><option value="end_date">end_date</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="exam_id">exam_id</option><option value="module_code">module_code</option><option value="duration">duration</option><option value="venue">venue</option><option value="percent">percent</option><option value="start_date">start_date</option><option value="end_date">end_date</option>';
			}else if(name=='lecturer'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="lecturer_id">lecturer_id</option><option value="f_name">f_name</option><option value="l_name">l_name</option><option value="password">password</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="lecturer_id">lecturer_id</option><option value="f_name">f_name</option><option value="l_name">l_name</option><option value="password">password</option>';
			}else if(name=='admin'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="staff_id">staff_id</option><option value="f_name">f_name</option><option value="l_name">l_name</option><option value="password">password</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="staff_id">staff_id</option><option value="f_name">f_name</option><option value="l_name">l_name</option><option value="password">password</option>';
			}else if(name=='student'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="student_id">student_id</option><option value="f_name">f_name</option><option value="l_name">l_name</option><option value="password">password</option><option value="email">email</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="student_id">student_id</option><option value="f_name">f_name</option><option value="l_name">l_name</option><option value="password">password</option><option value="email">email</option>';
			}else if(name=='course'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="code">code</option><option value="name">name</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="code">code</option><option value="name">name</option>';
			}else if(name=='lect_module'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="staff_id">staff_id</option><option value="mod_code">mod_code</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="staff_id">staff_id</option><option value="mod_code">mod_code</option>';
				document.getElementById('second_key_label').innerHTML='<label for="second_key_label">Second update Key</label>';
				document.getElementById('second_key').innerHTML='<select id="second_key" name="second_key"><option value="staff_id">staff_id</option><option value="mod_code">mod_code</option>';
				document.getElementById('second_key_value_label').innerHTML='<label for="second_key_value_label">Value of second key</label>';
                                document.getElementById('second_key_value').innerHTML='<input type="text" name="second_key_value" id="second_key_value" />';

			}else if(name=='module'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="code">code</option><option value="name">name</option><option value="semester">semester</option><option value="ECTs">ECTs</option><option value="lecturer_notes">lecturer_notes</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="code">code</option><option value="name">name</option><option value="semester">semester</option><option value="ECTs">ECTs</option><option value="lecturer_notes">lecturer_notes</option>';
			}else if(name=='organise'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="staff_id">staff_id</option><option value="exam_id">exam_id</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="staff_id">staff_id</option><option value="exam_id">exam_id</option>';
			}else if(name=='student_exam'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="student_id">student_id</option><option value="exam_id">exam_id</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="student_id">student_id</option><option value="exam_id">exam_id</option>';
			}else if(name=='stuednt_module'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="student_id">student_id</option><option value="mod_code">mod_code</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="student_id">student_id</option><option value="mod_code">mod_code</option>';
			}else if(name=='course_module'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="course_code">course_cde</option><option value="mod_code">mod_code</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="course_code">course_cde</option><option value="mod_code">mod_code</option>';
			}else if(name=='seating'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="student_id">student_id</option><option value="exam_id">exam_id</option><option value="seat_no">seat_no</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="student_id">student_id</option><option value="exam_id">exam_id</option><option value="seat_no">seat_no</option>';
			}else if(name=='course_student'){
				document.getElementById('div2').innerHTML='<select id="attributes" name="attributes"><option value="course_code">course_code</option><option value="student_id">student_id</option>';
				document.getElementById('div3').innerHTML='<select id="key" name="key"><option value="course_code">course_code</option><option value="student_id">student_id</option>';
			}else{
				document.getElementById('div1').innerHTML='';
				document.getElementById('second_key_value').innerHTML='';
                                document.getElementById('second_key').innerHTML='';

		}
		}
		function myFunction() {
 		 var x = document.getElementById("tables");
		 document.getElementById("p1").innerHTML = document.getElementById("tables");
		}
		</script>
{% endblock %}


