{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <script  src="modal.js"> </script> -->
<style>

</style>
</head>
<body onload="document.seating.submit()">
{% block content %}

<div>
  <input type="checkbox" id="morning" name="morning"
         checked>
  <label for="morning">9:30</label>
</div>

<div>
  <input type="checkbox" id="afternoon" name="afternoon">
  <label for="afternoon">1:00</label>
</div>
<div>
	<input type="checkbox" id="evening" name="evening">
  <label for="evening">4:30</label>
</div>

<h2>Hello  to  {{user.id_no}} + {{user.f_name}} + {{user.l_name}}+ {{user.course}}</h2>
<img src="{{url_for('static', filename='clear_chair.PNG')}}">

<!-- Trigger/Open The Modal -->
<button class="myBtn_multi">Open Modal</button>


    <!-- The Modal -->
    <div class="modal modal_multi">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close close_multi">×</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>


  {%for item in exams%}
      <table border="1">
        <tr>
          <th colspan="4"> Exam Number </th>
        </tr>
        <tr>
          <th>Module Name</th>
          <th>{{item.module_name[0]}}</th>
          <th>Module Code</th>
          <th>{{item.module_code}}</th>
        </tr>
        <tr>
          <th>Day</th>
          <th>{{item.exam_day[0]}}</th>
          <th>Date</th>
          <th>{{item.exam_date}}</th>
        </tr>
        <tr>
          <th>Time</th>
          <th>{{item.time}}</th>
          <th>Duration</th>
          <th>{{item.duration}}</th>
        </tr>
        <tr>
          <th>Venue</th>
	  <!--make the button an image and leave //{item.venue} with double brackets  -->
          <th>
          <!-- Trigger/Open The Modal -->
	  <button class="myBtn_multi" id = {{item.venue}}>{{item.venue}}</button>

                  <!-- The Modal -->
                 <div  class="modal modal_multi">

            <!-- Modal content -->
                <div class="modal-content">
                <span class="close close_multi">×</span>
		<div id="img_container">
		<form action="http://127.0.0.1:5000/mapview"  method="post"> 
                <p>
		<!-- <button onclick="msg()">Call the function</button> -->
		<img src ='{{url_for("static", filename="%s.jpg" % item.venue)}}'>
		<input type="submit" class="button" value=" View on map"> 
		</p>
		</form>
		</div>
            </div>

        </div>
        </div>


	  </th>
          <th>Seat Number</th>
          <th>
	    <form action="http://127.0.0.1:5000/seating_chart" name="seating" id="seating"  method="post">
                 <input type = "hidden" name = "venue" value={{item.venue}} />
                 <input type = "hidden" name = "seat_no" value={{item.seat_no[0]}} />
		<input type="submit" class="btn" value=" View on chart">
	    </form>
	  <!-- Trigger/Open The Modal -->
	  <button class="myBtn_multi" >{{item.seat_no[0]}} </button>

		 <!-- The Modal -->
	         <div  class="modal modal_multi">

	        <!-- Modal content -->
        	<div class="modal-content">
                <span class="close close_multi">×</span>
		<p>
		<h1>Front of exam hall</h1>
		{% for row in m %}
			<div class="row">
		        {% for value in row%}
				<div class="column">
			        <img src="{{url_for('static', filename='%s' % value)}}" style="width:100%">
				</div>
		        {% endfor %}
			</div>
		{% endfor %}
		</p>
            </div>
    
        </div>
        </div>
	  </th>
        </tr>
        <tr>
          <th>Exam Percentage</th>
          <th>{{item.percent}}</th>
          <th>Lecturer notes</th>
          <th>{{item.lecturer_notes[0]}}</th>
        </tr>
      </table>
      {%endfor%}
      <script>
        // Get the modal

        var modalparent = document.getElementsByClassName("modal_multi");

        // Get the button that opens the modal

        var modal_btn_multi = document.getElementsByClassName("myBtn_multi");

        // Get the <span> element that closes the modal
        var span_close_multi = document.getElementsByClassName("close_multi");

        // When the user clicks the button, open the modal
        function setDataIndex() {

            for (i = 0; i < modal_btn_multi.length; i++)
            {
                modal_btn_multi[i].setAttribute('data-index', i);
                modalparent[i].setAttribute('data-index', i);
                span_close_multi[i].setAttribute('data-index', i);
            }
        }



        for (i = 0; i < modal_btn_multi.length; i++)
        {
            modal_btn_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "block";
            };

            // When the user clicks on <span> (x), close the modal
            span_close_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "none";
            };

        }

        window.onload = function() {

            setDataIndex();
        };

        window.onclick = function(event) {
            if (event.target === modalparent[event.target.getAttribute('data-index')]) {
                modalparent[event.target.getAttribute('data-index')].style.display = "none";
            }
        };

    </script>
{% endblock %}

</body>
</html>

