{% extends "base.html" %}
{% block content %}
<br>
<h3><b>Logged in user: </b>{{user.f_name}}  {{user.l_name}}</h3>
<h3><b>Student ID: </b>{{user.id_no}}</h3>
<h3><b>Course Code: </b>{{user.course[0]}}</h3>
  {%for item in exams%}
      <table align="center">
	      <br>
	      <thead style="background-color:#72b8c6">
	      <tr>
			<th colspan=4></th>
		</tr>
	      </thead>
        <tr>
          <th>Module Name</th>
          <td>{{item.module_name[0]}}</td>
          <th>Module Code</th>
          <td>{{item.module_code}}</td>
        </tr>
        <tr>
          <th>Day
		<img alt="day icon" id="cal_icon" src="{{url_for('static', filename='day.png')}}">
	  </th>
          <td>{{item.exam_day[0]}}</td>
	  <th>
<form action="/calendarview"  method="post">
          <input type="image" src="{{url_for('static', filename='calendar.png')}}" alt="Submit" id="cal_icon">
          </form>
		  Date
	  </th>
          <td>{{item.exam_date[0]}} </td>
        </tr>
        <tr>
          <th>Time
		<img alt="time icon" id="cal_icon" src="{{url_for('static', filename='time.png')}}">
	  </th>
          <td>{{item.time[0]}}</td>
          <th>Duration
		<img alt="notes icon" id="cal_icon" src="{{url_for('static', filename='duration.png')}}">
	  </th>
          <td>{{item.duration}}</td>
        </tr>
        <tr>
          <th>Venue
		<img alt="venue icon" id="cal_icon" src="{{url_for('static', filename='venue.png')}}">
	  </th>
	  <!--make the button an image and leave //{item.venue} with double brackets  -->
          <td>
          <!-- Trigger/Open The Modal -->
	  <button class="myBtn_multi" id = {{item.venue}}>{{item.venue}}</button>
                  <!-- The Modal -->
                 <div  class="modal modal_multi">
            <!-- Modal content -->
                <div class="modal-content">
                <span class="close close_multi">×</span>
		<div id="img_container">
<form action="/mapview"  method="post"> 
		<!-- <button onclick="msg()">Call the function</button> -->
		<img src ='{{url_for("static", filename="%s.jpg" % item.venue)}}'>
		<input type="submit" class="button" value="Map view"> 
		</form>
		</div>
            </div>
        </div>
        </div>
	  </td>
          <th>Seat Number
		<img alt="seat icon" id="cal_icon" src="{{url_for('static', filename='seat_no.png')}}">
	  </th>
          <td>
	  <!-- Trigger/Open The Modal -->
	  <button class="myBtn_multi" >{{item.seat_no[0]}} </button>
		 <!-- The Modal -->
	         <div  class="modal modal_multi">
	        <!-- Modal content -->
        	<div class="modal-content">
                <span class="close close_multi">×</span>
		<div class="seating" align="center" >
		<h1>Front of exam hall</h1>
		{% for row in item.seat_matrix %}
		<div class="row" width="100%" >
                        {% for value in row%}
                                <div class="column">
                                <img src="{{url_for('static', filename='%s' % value)}}" style="width:100%" id="chair">
                                </div>
                        {% endfor %}
                        </div>
                {% endfor %}
            </div>
		</div>
        </div>
	  </td>
        </tr>
        <tr>
          <th>Exam Percentage
		<img alt="percent icon" id="cal_icon" src="{{url_for('static', filename='percent.png')}}">
	  </th>
          <td>{{item.percent}}</td>
          <th>Lecturer notes
		<img alt="notes icon" id="cal_icon" src="{{url_for('static', filename='lecturer_notes.png')}}">
	  </th>
          <td>{{item.lecturer_notes[0]}}</td>
        </tr>
	
      </table>
      {%endfor%}
      <br><br> 
      <script>
        // Get the modal
        var modalparent = document.getElementsByClassName("modal_multi");
        // Get the button that opens the modal
        var modal_btn_multi = document.getElementsByClassName("myBtn_multi");
        // Get the <span> element that closes the modal
        var span_close_multi = document.getElementsByClassName("close_multi");
        // When the user clicks the button, open the modal
        function setDataIndex() {
            for (i = 0; i < modal_btn_multi.length; i++)
            {
                modal_btn_multi[i].setAttribute('data-index', i);
                modalparent[i].setAttribute('data-index', i);
                span_close_multi[i].setAttribute('data-index', i);
            }
        }
        for (i = 0; i < modal_btn_multi.length; i++)
        {
            modal_btn_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "block";
            };
            // When the user clicks on <span> (x), close the modal
            span_close_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "none";
            };
        }
        window.onload = function() {
            setDataIndex();
        };
        window.onclick = function(event) {
            if (event.target === modalparent[event.target.getAttribute('data-index')]) {
                modalparent[event.target.getAttribute('data-index')].style.display = "none";
            }
        };
    </script>
{% endblock %}
