{% extends "base.html" %}

{% block content %}
      <h1>Info</h1>
	<p>
	<br>Questions about your timetable?</br>
Any queries regarding the timetable should be addressed to the Student Information Desk 091-495999 (direct telephone number) or via email to : sid@nuigalway.ie

<br>Salthill</br>
	How to get to Salthill
	<br>		SU Bus schedule</br>
	Parking in Salthill

	<br>What to do if you are sick the day of an exam</br>
If you don't feel well the day of the exam and feel like you will be unable to complete it, you must go to the college doctor the day of the exam in order to be allowed to defer that exam until the August exam period without capping. The university no longer forces you to defer all remaining exams if you have to defer one so please do contact the college health unit if you are unwell. Call (091) 492 604

<br>What to do if you cannot find your student card</br>
There is a 25 euro fine for each exam that you fail to present your student card in. To get another student card printed you must go to SID and there is 20 euro reprint fee.

<br>What to do if you are feeling overwhelmed</br>
If you are feeling stressed or overwhelmed try look at these links:
	Insert links

	<br>Exam day checklist</br>
	Student card
	Pen
	Calculator

	<br>How to do an MCQ</br>
Mcq tutorial
      </p>
{% endblock %}

