{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
</style>
</head>
<body>

{% block content %}
<h1>Home {{lecturer.f_name}} {{lecturer.l_name}}</h1>
   <p>
        {%for item in lecturer.exam_list%}
        <table style="width:100%">
            <tr>
              <th colspan="4"> Exam Number </th>
            </tr>
            <tr>
              <th>Module Name</th>
              <th>{{item.module_name}}</th>
              <th>Module Code</th>
              <th>{{item.module_code[0]}}</th> 
            </tr>
            <tr>
              <td>Day</td>
              <th>{{item.exam_day[0]}}</th>
              <td>Date</td>
              <th>{{item.exam_date[0]}}</th>
            </tr>
            <tr>
              <td>Time</td>
              <th>{{item.time[0]}}</th>
              <td>Duration</td>
              <th>{{item.duration}}</th>
            </tr>
            <tr>
              <td>Venue</td>
              <th>{{item.venue}}</th>
              <td>Exam Percentage</td>
              <th>{{item.percent}}</th>
            </tr>
            <tr>
              <td>Lecturer's notes</td>
              <th>{{item.lecturer_notes}}</th>
              <td>Add notes</td>
              <th>
	        <form action = "http://127.0.0.1:5000/lecturer_updates" method = "post">
		<input type = "hidden" name = "module_code" value={{item.module_code[0]}} />
		<input type = "text" name = "notes" />
                <input type = "submit" value = "submit" />
              </form>   
	      </th>
            </tr>
          </table>
        {%endfor%}
    </p>
</body>
</html>
{% endblock %}



