{% extends "base.html" %}
<!DOCTYPE html>

{% block content %}
<br>
<h3><b>Logged in user: </b>{{lecturer.f_name}}  {{lecturer.l_name}}</h3>
<h3><b>Student ID: </b>{{lecturer.lecturer_id}}</h3>
        {%for item in lecturer.exam_list%}
        <table align="center">
		<br>
		<thead style="background-color:#72b8c6">
	      <tr>
			<th colspan=4></th>
		</tr>
	      </thead>
            <tr>
              <th>Module Name</th>
              <td>{{item.module_name}}</td>
              <th>Module Code</th>
              <td>{{item.module_code[0]}}</td> 
            </tr>
            <tr>
              <th>Day
			<img alt="day icon" id="cal_icon" src="{{url_for('static', filename='day.png')}}">
	      </th>
              <td>{{item.exam_day[0]}}</td>
              <th>Date
<form action="/calendarview"  method="post">
          <input type="image" src="{{url_for('static', filename='calendar.png')}}" alt="Submit" id="cal_icon">
          </form>
	      </th>
              <td>{{item.exam_date[0]}}</td>
            </tr>
            <tr>
		    <th>Time
<img alt="time icon" id="cal_icon" src="{{url_for('static', filename='time.png')}}">
	      </th>
              <td>{{item.time[0]}}</td>
              <th>Duration
<img alt="notes icon" id="cal_icon" src="{{url_for('static', filename='duration.png')}}">
	      </th>
              <td>{{item.duration}}</td>
            </tr>
            <tr>
              <th>Venue
<img alt="venue icon" id="cal_icon" src="{{url_for('static', filename='venue.png')}}">
	      </th>
              <td>
<button class="myBtn_multi" id = {{item.venue}}>{{item.venue}}</button>
                  <!-- The Modal -->
                 <div  class="modal modal_multi">
            <!-- Modal content -->
                <div class="modal-content">
                <span class="close close_multi">×</span>
		<div id="img_container">
<form action="/mapview"  method="post"> 
		<!-- <button onclick="msg()">Call the function</button> -->
		<img src ='{{url_for("static", filename="%s.jpg" % item.venue)}}'>
		<input type="submit" class="button" value="Map view"> 
		</form>
		</div>
            </div>
        </div>
        </div>
	      </td>
              <th>Exam Percentage
<img alt="percent icon" id="cal_icon" src="{{url_for('static', filename='percent.png')}}">
	      </th>
	      <td>{{item.percent}}</td>
            </tr>
            <tr>
              <th>Lecturer's notes
<img alt="notes icon" id="cal_icon" src="{{url_for('static', filename='lecturer_notes.png')}}">
	      </th>
              <td>{{item.lecturer_notes}}</td>
              <th>Add notes
	      </th>
              <th>
	        <form action = "/lecturer_updates" method = "post">
		<input type = "hidden" name = "module_code" value={{item.module_code[0]}} />
		<input type = "text" name = "notes" />
                <input type = "submit" value = "submit" />
              </form>   
	      </th>
            </tr>
          </table>
        {%endfor%}
	<br><br>
	<script>
        // Get the modal
        var modalparent = document.getElementsByClassName("modal_multi");
        // Get the button that opens the modal
        var modal_btn_multi = document.getElementsByClassName("myBtn_multi");
        // Get the <span> element that closes the modal
        var span_close_multi = document.getElementsByClassName("close_multi");
        // When the user clicks the button, open the modal
        function setDataIndex() {
            for (i = 0; i < modal_btn_multi.length; i++)
            {
                modal_btn_multi[i].setAttribute('data-index', i);
                modalparent[i].setAttribute('data-index', i);
                span_close_multi[i].setAttribute('data-index', i);
            }
        }
        for (i = 0; i < modal_btn_multi.length; i++)
        {
            modal_btn_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "block";
            };
            // When the user clicks on <span> (x), close the modal
            span_close_multi[i].onclick = function() {
                var ElementIndex = this.getAttribute('data-index');
                modalparent[ElementIndex].style.display = "none";
            };
        }
        window.onload = function() {
            setDataIndex();
        };
        window.onclick = function(event) {
            if (event.target === modalparent[event.target.getAttribute('data-index')]) {
                modalparent[event.target.getAttribute('data-index')].style.display = "none";
            }
        };
    </script>
{% endblock %}



