<html>  
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
</head>
  
{% extends "base.html" %}

{% block content %}
<br><br>
<div style="width: 90%; height: 70%;  margin: 0 auto;" id="mapContainer"></div>
<br><br>
<script>	
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': '5Nxc5Dus3Mmms7nW5XShHhZ9LfhXiez4jS6R4N1yrU8'
      });
	  
	var lat_king = 53.2819;
           var long_king = -9.0626;
	// Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();
	
      var locs = {{locations|tojson}}

var markers= []
      pointer = 0;
      for (l=0; l < locs.length; l++){
	      if (locs[l] === "Kingfisher" ){
		console.log("here");
	      	var lat_king = 53.2819
		var long_king = -9.0626;
		markers[pointer] = lat_king;
		markers[pointer+1] = long_king;
		pointer = pointer +2;
	      }
	      else if (locs[l] === "Galway Bay Hotel"){
		var lat_gbay = 53.2586;
		var long_gbay = -9.0849;
		markers[pointer] = lat_gbay;
	        markers[pointer+1] = long_gbay;
	        pointer = pointer +2;
      	      }
	      else if (locs[l] === "Leisureland Salthill"){
                var lat_lland = 53.2590;
                var long_lland = -9.0823;
		markers[pointer] = lat_lland;
		markers[pointer+1] = long_lland;
		pointer = pointer +2;
              }
	      // bailey allen coordinates seem to be wrong
	      else if (locs[l] === "Bailey Allen Hall"){
                var lat_ba = 53.2784;
                var long_ba = -9.0581;
		markers[pointer] = lat_ba;
		markers[pointer+1] = long_ba;
		pointer = pointer +2;
              }
	      else if (locs[l] === "Alice Perry Engineering Building"){
                var lat_eng = 53.2836;
                var long_eng = -9.0640;
		markers[pointer] = lat_eng;
		markers[pointer+1] = long_eng;
		pointer = pointer +2;
              }
	      else if (locs[l] === "Aras Moyola"){
                var lat_nurse = 53.277784;
                var long_nures = -9.06186;
		markers[pointer] = lat_nurse;
		markers[pointer+1] = long_nurse;
		pointer = pointer +2;
              }
}

      // Initialize a map:
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.raster.terrain.map,
        {
          zoom: 13,
          center: { lat: lat_king, lng: long_king }  
        });
		
	// Enable the event system on the map instance:
	  var mapEvents = new H.mapevents.MapEvents(map);
	
	// Add event listener:
	  map.addEventListener('tap', function(evt) {
    // Log 'tap' and 'mouse' events:
      console.log(evt.type, evt.currentPointer.type); 
});

	// Instantiate the default behavior, providing the mapEvents object:
	 var behavior = new H.mapevents.Behavior(mapEvents);

	window.addEventListener('resize',()=> get.ViewProt().resize())

	for (m = 0; m < markers.length; m+=2){
	    var marker = new H.map.Marker({ lat: markers[m], lng: markers[m+1] });
	    map.addObject(marker);
        }

	// Create the default UI:
	var ui = H.ui.UI.createDefault(map, maptypes);
		
	// Create an info bubble object at a specific geographic location:
//	var bubble = new H.ui.InfoBubble({ lng: lat1, lat: long1 }, {
//                content: '<b>Engineering</b>'
//             });

// Add info bubble to the UI:
ui.addBubble(bubble);

</script>
{% endblock %}
</html>
