<html>  
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
</head>
  
<body style='margin: 0'>
{% extends "base.html" %}

{% block content %}
<h1>Calendar</h1>


<div style="width: 90%; height: 70%" id="mapContainer"></div>

<script>	
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': '5Nxc5Dus3Mmms7nW5XShHhZ9LfhXiez4jS6R4N1yrU8'
      });
	  
	   const lat = 53.2819;
	   const long = -9.0626;
	   const lat1 = 53.2836;
           const long1 = -9.0640;
	   const lat2 = 53.2586;
           const long2 = -9.0849;
	
	// Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();

      // Initialize a map:
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.raster.terrain.map,
        {
          zoom: 12,
          center: { lat: lat, lng: long }  
        });
		
	// Enable the event system on the map instance:
	  var mapEvents = new H.mapevents.MapEvents(map);
	
	// Add event listener:
	  map.addEventListener('tap', function(evt) {
    // Log 'tap' and 'mouse' events:
      console.log(evt.type, evt.currentPointer.type); 
});

	// Instantiate the default behavior, providing the mapEvents object:
	 var behavior = new H.mapevents.Behavior(mapEvents);

	//window.addEventListener('resize',()=> get.ViewProt().resize())
	var marker = new H.map.Marker({ lat: lat, lng: long });
		
	// Add the marker to the map:
	map.addObject(marker);

	var marker1 = new H.map.Marker({ lat: lat1, lng: long1 });
	map.addObject(marker1);

	var marker2 = new H.map.Marker({ lat: lat2, lng: long2 });
        map.addObject(marker2);

	// Create the default UI:
	var ui = H.ui.UI.createDefault(map, maptypes);
		
	// Create an info bubble object at a specific geographic location:
//	var bubble = new H.ui.InfoBubble({ lng: lat1, lat: long1 }, {
//                content: '<b>Engineering</b>'
//             });

// Add info bubble to the UI:
ui.addBubble(bubble);

</script>
{% endblock %}
</body>
</html>
